#{extends 'main.html' /}
<div id="Wrapper">
  <div class="content">
    <div id="Leftbar"></div>
    <div id="Rightbar">
      <div class="sep20"></div>
      <div class="box">
        <div class="cell">
          <strong>Bubble</strong>
          <div class="sep5"></div>
          <span class="fade">Bubble 是一个关于分享和探索的地方</span>
        </div>
        <div class="inner">
          <div class="sep5"></div>
          <div align="center">
            <a href="/signup" class="super normal button">现在注册</a>
            <div class="sep5"></div>
            <div class="sep10"></div>已注册用户请 &nbsp;
            <a href="/signin">登录</a></div>
        </div>
      </div>
      <div class="sep20"></div>
      <div class="box">
        <div class="inner" align="center">
          <a href="">
            <img src="public/images/it.jpg" border="0" width="250" height="250"/></a>
        </div>
      </div>
      <div class="sep20"></div>
      <div class="box" id="TopicsHot">
        <div class="cell">
          <span class="fade">今日热议主题</span></div>
        <div class="cell">
          <table cellpadding="0" cellspacing="0" border="0" width="100%">
            <tr>
              <td width="24" valign="middle" align="center">
                <a href="member/huntzhan.html">
                  <img src="http://cdn.v2ex.co/avatar/2252/2670/168753_normal.png?m=1471155217" class="avatar" border="0" align="default" style="max-width: 24px; max-height: 24px;" /></a>
              </td>
              <td width="10"></td>
              <td width="auto" valign="middle">
                <span class="item_hot_topic_title">
                  <a href="t/299197.html">将图片自动上传到 GitHub, 返回图片 URL</a></span>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="sep20"></div>
      <div class="box">
        <div class="cell">
          <div class="fr"></div>
          <span class="fade">最热节点</span></div>
        <div class="cell">
          <a href="go/qna.html" class="item_node">问与答</a>
          <a href="go/share.html" class="item_node">分享发现</a>
          <a href="go/jobs.html" class="item_node">酷工作</a>
          <a href="go/programmer.html" class="item_node">程序员</a>
          <a href="go/macos.html" class="item_node">macOS</a>
          <a href="go/create.html" class="item_node">分享创造</a>
          <a href="go/python.html" class="item_node">Python</a>
          <a href="go/iphone.html" class="item_node">iPhone</a>
          <a href="go/android.html" class="item_node">Android</a>
          <a href="go/idev.html" class="item_node">iDev</a>
          <a href="go/v2ex.html" class="item_node">V2EX</a>
          <a href="go/linux.html" class="item_node">Linux</a>
          <a href="go/apple.html" class="item_node">Apple</a></div>
      </div>
      <div class="sep20"></div>
      <div class="box">
        <div class="cell">
          <div class="fr"></div>
          <span class="fade">最近新增节点</span></div>
        <div class="inner">
          <a href="go/vive.html" class="item_node">Vive</a>
          <a href="go/remodel.html" class="item_node">装修</a>
          <a href="go/france.html" class="item_node">法国</a>
          <a href="go/metal.html" class="item_node">Metal</a>
          <a href="go/gis.html" class="item_node">地理信息系统</a>
          <a href="go/meet.html" class="item_node">创业组队</a>
          <a href="go/pokemon.html" class="item_node">精灵宝可梦</a>
          <a href="go/ime.html" class="item_node">输入法</a>
          <a href="go/keybase.html" class="item_node">Keybase</a>
          <a href="go/cmb.html" class="item_node">招商银行</a>
          <a href="go/asus.html" class="item_node">华硕</a>
          <a href="go/rog.html" class="item_node">玩家国度</a>
          <a href="go/codemirror.html" class="item_node">CodeMirror</a>
          <a href="go/hexo.html" class="item_node">Hexo</a>
          <a href="go/hyper.html" class="item_node">Hyper_</a>
          <a href="go/bf1.html" class="item_node">Battlefield 1</a>
          <a href="go/c9.html" class="item_node">Cloud9</a>
          <a href="go/obs.html" class="item_node">OBS</a>
          <a href="go/cardboard.html" class="item_node">Cardboard</a>
          <a href="go/overwatch.html" class="item_node">Overwatch</a></div>
      </div>
      <div class="sep20"></div>
      <div class="box">
        <div class="cell">
          <span class="fade">社区运行状况</span></div>
        <div class="cell">
          <table cellpadding="5" cellspacing="0" border="0" width="100%">
            <tr>
              <td width="50" align="right">
                <span class="gray">注册会员</span></td>
              <td width="auto" align="left">
                <strong>185915</strong></td>
            </tr>
            <tr>
              <td width="50" align="right">
                <span class="gray">主题</span></td>
              <td width="auto" align="left">
                <strong>293838</strong></td>
            </tr>
            <tr>
              <td width="50" align="right">
                <span class="gray">回复</span></td>
              <td width="auto" align="left">
                <strong>3454357</strong></td>
            </tr>
          </table>
        </div>
      </div>
      <div class="sep20"></div>
    </div>
    <div id="Main">
      <div class="sep20"></div>
      <div class="box" style="overflow:hidden;zoom:1;">
        <div class="inner" style="background-color: #fff; border-top-left-radius: 3px; border-top-right-radius: 3px;" id="Tabs">
          <a href="/" class="tab">博客分享</a>
          <a href="/posts" class="tab">技术论坛</a>
          <a href="/code" class="tab_current">代码资源</a>
          <a href="/connect" class="tab">联系我们</a></div>
        <div class="cell">
          <table cellpadding="0" cellspacing="0" border="0">
            <tr>
              <td align="right" width="60">
                <span class="fade">前端控件</span></td>
              <td style="line-height: 200%; padding-left: 10px; word-break: keep-all;">
                <a href="go/qna.html" style="font-size: 14px;">问与答</a>&nbsp; &nbsp;
                <a href="go/share.html" style="font-size: 14px;">分享发现</a>&nbsp; &nbsp;
                <a href="go/create.html" style="font-size: 14px;">分享创造</a>&nbsp; &nbsp;
                <a href="go/in" style="font-size: 14px;">分享邀请码</a>&nbsp; &nbsp;
                <a href="go/autistic" style="font-size: 14px;">自言自语</a>&nbsp; &nbsp;
                <a href="go/ideas" style="font-size: 14px;">奇思妙想</a>&nbsp; &nbsp;
                <a href="go/random" style="font-size: 14px;">随想</a>&nbsp; &nbsp;
                <a href="go/design" style="font-size: 14px;">设计</a>&nbsp; &nbsp;
                <a href="go/blog" style="font-size: 14px;">Blog</a>&nbsp; &nbsp;</td></tr>
          </table>
        </div>
        <div class="cell">
          <table cellpadding="0" cellspacing="0" border="0">
            <tr>
              <td align="right" width="60">
                <span class="fade">V2EX</span></td>
              <td style="line-height: 200%; padding-left: 10px; word-break: keep-all;">
                <a href="go/v2ex.html" style="font-size: 14px;">V2EX</a>&nbsp; &nbsp;
                <a href="go/babel" style="font-size: 14px;">Project Babel</a>&nbsp; &nbsp;
                <a href="go/dns" style="font-size: 14px;">DNS</a>&nbsp; &nbsp;
                <a href="go/feedback" style="font-size: 14px;">反馈</a>&nbsp; &nbsp;
                <a href="go/gae" style="font-size: 14px;">Google App Engine</a>&nbsp; &nbsp;
                <a href="go/guide" style="font-size: 14px;">使用指南</a>&nbsp; &nbsp;</td></tr>
          </table>
        </div>
        <div class="cell">
          <table cellpadding="0" cellspacing="0" border="0">
            <tr>
              <td align="right" width="60">
                <span class="fade">iOS</span></td>
              <td style="line-height: 200%; padding-left: 10px; word-break: keep-all;">
                <a href="go/idev.html" style="font-size: 14px;">iDev</a>&nbsp; &nbsp;
                <a href="go/icode" style="font-size: 14px;">iCode</a>&nbsp; &nbsp;
                <a href="go/imarketing" style="font-size: 14px;">iMarketing</a>&nbsp; &nbsp;
                <a href="go/iad" style="font-size: 14px;">iAd</a>&nbsp; &nbsp;
                <a href="go/itransfer" style="font-size: 14px;">iTransfer</a>&nbsp; &nbsp;</td></tr>
          </table>
        </div>
        <div style="width:100%;">
        	<div style="width:220px;height:300px;margin:15px 0px 5px 25px;float:left;">
				<div>
				<a href="/code_single" class="z"><img src="data/attachment/forum/201608/16/121412stcdctxet7kxqe2o.gif" width="200"  border="0"></a>
				</div>
				<h3 class="xw0">
				<a href="/code_single">LXScreenShot</a>
				</h3>
				<div>
				<a href="space-uid-843454.html" style="font-size:12px;color:#333;">小新ohhP</a>
				<cite style="font-size:12px;color:#999;font: 12px/1.5 Microsoft Yahei,Tahoma,Helvetica,'SimSun',sans-serif;">
				下载数:<span>3</span>
				&nbsp; 回复: <span>2</span>
				</cite>
				</div>
			</div>
			<div style="width:220px;height:300px;margin:15px 0px 5px 25px;float:left;">
				<div>
				<a href="/code_single" class="z"><img src="data/attachment/forum/201608/16/121412stcdctxet7kxqe2o.gif" width="200"  border="0"></a>
				</div>
				<h3 class="xw0">
				<a href="/code_single">LXScreenShot</a>
				</h3>
				<div>
				<a href="space-uid-843454.html" style="font-size:12px;color:#333;">小新ohhP</a>
				<cite style="font-size:12px;color:#999;font: 12px/1.5 Microsoft Yahei,Tahoma,Helvetica,'SimSun',sans-serif;">
				下载数:<span>3</span>
				&nbsp; 回复: <span>2</span>
				</cite>
				</div>
			</div>
			
			<div style="width:220px;height:300px;margin:15px 0px 5px 25px;float:left;">
				<div>
				<a href="/code_single" class="z"><img src="data/attachment/forum/201608/16/121412stcdctxet7kxqe2o.gif" width="200"  border="0"></a>
				</div>
				<h3 class="xw0">
				<a href="/code_single">LXScreenShot</a>
				</h3>
				<div>
				<a href="space-uid-843454.html" style="font-size:12px;color:#333;">小新ohhP</a>
				<cite style="font-size:12px;color:#999;font: 12px/1.5 Microsoft Yahei,Tahoma,Helvetica,'SimSun',sans-serif;">
				下载数:<span>3</span>
				&nbsp; 回复: <span>2</span>
				</cite>
				</div>
			</div>
			
			<div style="width:220px;height:300px;margin:15px 0px 5px 25px;float:left;">
				<div>
				<a href="/code_single" class="z"><img src="data/attachment/forum/201608/16/121412stcdctxet7kxqe2o.gif" width="200"  border="0"></a>
				</div>
				<h3 class="xw0">
				<a href="/code_single">LXScreenShot</a>
				</h3>
				<div>
				<a href="space-uid-843454.html" style="font-size:12px;color:#333;">小新ohhP</a>
				<cite style="font-size:12px;color:#999;font: 12px/1.5 Microsoft Yahei,Tahoma,Helvetica,'SimSun',sans-serif;">
				下载数:<span>3</span>
				&nbsp; 回复: <span>2</span>
				</cite>
				</div>
			</div>
     	</div>
      </div>
      <div class="sep20"></div>
      <div class="box">
        
        <div class="inner">
          <table cellpadding="0" cellspacing="0" border="0">
            <tr>
              <td align="right" width="60">
                <span class="fade">品牌</span></td>
              <td style="line-height: 200%; padding-left: 10px; word-break: keep-all;">
                <a href="go/uniqlo" style="font-size: 14px;">UNIQLO</a>&nbsp; &nbsp;
                <a href="go/lamy" style="font-size: 14px;">Lamy</a>&nbsp; &nbsp;
                <a href="go/ikea" style="font-size: 14px;">宜家</a>&nbsp; &nbsp;
                <a href="go/muji" style="font-size: 14px;">无印良品</a>&nbsp; &nbsp;
                <a href="go/gap" style="font-size: 14px;">Gap</a>&nbsp; &nbsp;
                <a href="go/nike" style="font-size: 14px;">Nike</a>&nbsp; &nbsp;
                <a href="go/moleskine" style="font-size: 14px;">Moleskine</a>&nbsp; &nbsp;
                <a href="go/adidas" style="font-size: 14px;">Adidas</a>&nbsp; &nbsp;
                <a href="go/gstar" style="font-size: 14px;">G-Star</a>&nbsp; &nbsp;</td></tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="c"></div>
  <div class="sep20"></div>
</div>