#{extends 'main.html' /}
<div id="Wrapper">
  <div class="content">
    <div id="Leftbar"></div>
    <div id="Rightbar">
      <div class="sep20"></div>
      <div class="box">
        <div class="cell">
          <strong>Bubble</strong>
          <div class="sep5"></div>
          <span class="fade">Bubble 是一个关于分享和探索的地方</span>
        </div>
        <div class="inner">
          <div class="sep5"></div>
          <div align="center">
          	<input type="text" placeholder="搜索" id="searchText"/>
          	<input type="button" value="搜索" id="search"/>
          </div>
        </div>
      </div>
      <div class="sep20"></div>
      <div class="box">
        <div class="cell">
          <div class="fr"></div>
          <span class="fade">博客分类</span></div>
        <div class="inner" style="padding:0 10px;color:#333;">
          <ul>
          	<li>前端开发
	          	<ul style="margin:0.5em 0px 0.5em 1.5em;">
	          	<li>HTML/CSS</li>
	          	<li>javascript</li>
	          	<li>jquery</li>
	          	<li>前端框架</li>
	           </ul>
           </li>
          	<li>后端开发
          		<ul style="margin:0.5em 0px 0.5em 1.5em;">
	          	<li>Java</li>
	          	<li>php</li>
	          	<li>python</li>
	          	<li>c</li>
	          	<li>c++</li>
	           </ul>
          	</li>
          	<li>移动开发
          		<ul style="margin:0.5em 0px 0.5em 1.5em;">
	          	<li>IOS</li>
	          	<li>Android</li>
	           </ul>
          	</li>
          	<li>数据库
          		<ul style="margin:0.5em 0px 0.5em 1.5em;">
	          	<li>MySQL</li>
	          	<li>SQL Server</li>
	          	<li>MongoDB</li>
	          	<li>Oracle</li>
	           </ul>
          	</li>
          </ul>
        </div>
      </div>
      <div class="sep20"></div>
      <div class="box" id="TopicsHot">
        <div class="cell">
          <span class="fade">最新推荐博客</span></div>
        <div class="cell">
          <table cellpadding="0" cellspacing="0" border="0" width="100%">
            <tr>
              <td width="24" valign="middle" align="center">
                <a href="member/huntzhan.html">
                  <img src="http://cdn.v2ex.co/avatar/2252/2670/168753_normal.png?m=1471155217" class="avatar" border="0" align="default" style="max-width: 24px; max-height: 24px;" /></a>
              </td>
              <td width="10"></td>
              <td width="auto" valign="middle">
                <span class="item_hot_topic_title">
                  <a href="t/299197.html">将图片自动上传到 GitHub, 返回图片 URL</a></span>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="sep20"></div>
      
      <div class="box">
        <div class="cell">
          <span class="fade">社区运行状况</span></div>
        <div class="cell">
          <table cellpadding="5" cellspacing="0" border="0" width="100%">
            <tr>
              <td width="50" align="right">
                <span class="gray">注册会员</span></td>
              <td width="auto" align="left">
                <strong>185915</strong></td>
            </tr>
            <tr>
              <td width="50" align="right">
                <span class="gray">主题</span></td>
              <td width="auto" align="left">
                <strong>293838</strong></td>
            </tr>
            <tr>
              <td width="50" align="right">
                <span class="gray">回复</span></td>
              <td width="auto" align="left">
                <strong>3454357</strong></td>
            </tr>
          </table>
        </div>
      </div>
      <div class="sep20"></div>
    </div>
    <div id="Main">
      <div class="sep20"></div>
      <div class="box">
        <div class="inner" style="background-color: #fff; border-top-left-radius: 3px; border-top-right-radius: 3px;" id="Tabs">
          <a href="/" class="tab_current">博客分享</a>
          <a href="/posts" class="tab">技术论坛</a>
          <a href="/code" class="tab">代码资源</a>
          <a href="/connect" class="tab">联系我们</a></div>
        <div class="cell" style="background-color: #f9f9f9; padding: 10px 10px 10px 20px;">
          <a href="go/programmer.html">javascript</a>&nbsp; &nbsp;
          <a href="go/python.html">jquery</a>&nbsp; &nbsp;
          <a href="go/idev.html">IOS</a>&nbsp; &nbsp;
          <a href="go/android.html">Android</a>&nbsp; &nbsp;
          <a href="go/linux.html">Java</a>&nbsp; &nbsp;
          <a href="go/nodejs.html">mysql</a>&nbsp; &nbsp;
          <a href="go/cloud.html">php</a>&nbsp; &nbsp;
          <a href="go/bb.html">前端框架</a></div>
		  <div class="post_item">
			  <div class="digg">
			    <div class="diggit">
			      <span class="diggnum" id="digg_count_5767906">0</span></div>
			    <div class="clear"></div>
			    <div id="digg_tip_5767906" class="digg_tip"></div>
			  </div>
			  <div class="post_item_body">
			    <h3>
			      <a class="titlelnk" href="/single">制作自己的MVC框架（一）——简单粗暴的实现</a></h3>
			    <div class="post_item_summary">
			      <a href="http://www.cnblogs.com/strick/" target="_blank">
			        <img width="48" height="48" class="pfs" src="http://pic.cnblogs.com/face/211606/20141022114859.png" alt="" />
			      </a>
			        <div>现在市面上有很多成熟的MVC框架，可以拿来直接用，但自己造一下轮子其实也挺有意思的。 下面先来看个最简单粗暴的MVC实现。 5个文件就能实现最简单的MVC，在Apache中设置一个虚拟目录，配置个简单域名，就可以顺利访问了。 为了实现简单，这里没有写模型层。 一、index.php 这个文件是入口文 ...</div>
			    </div>
			    <div class="post_item_foot">
			      <a href="http://www.cnblogs.com/strick/" class="lightblue">咖啡机（K.F.J）</a>发布于 2016-08-16 11:48
			      <span class="article_comment">
			        <a href="http://www.cnblogs.com/strick/p/5767906.html#commentform" title="" class="gray">评论(0)</a></span>
			      <!-- <span class="article_view">
			        <a href="http://www.cnblogs.com/strick/p/5767906.html" class="gray">阅读(134)</a></span> -->
			    </div>
			  </div>
			  <div class="clear"></div>
		</div>
        <div class="inner">
          <span class="chevron">→</span>
          <a href="recent">更多新主题</a>
        </div>
      </div>
      <div class="sep20"></div>
    </div>
  </div>
  <div class="c"></div>
  <div class="sep20"></div>
</div>