#{extends 'main.html' /}
<div id="Wrapper">
  <div class="content">
    <div id="Leftbar"></div>
    <div id="Rightbar">
      <div class="sep20"></div>
      <div class="box">
        <div class="cell">
          <strong>Bubble</strong>
          <div class="sep5"></div>
          <span class="fade">Bubble 是一个关于分享和探索的地方</span></div>
        <div class="inner">
          <div class="sep5"></div>
          <div align="center">
            <a href="/signup" class="super normal button">现在注册</a>
            <div class="sep5"></div>
            <div class="sep10"></div>已注册用户请 &nbsp;
            <a href="/signin">登录</a></div>
        </div>
      </div>
      <div class="sep20"></div>
      <div class="box">
        <div class="inner">
          <a href="http://gold.xitu.io/welcome/?utm_source=v2ex_create&utm_medium=banner&utm_content=jishudiedai&utm_campaign=q3_website" target="_blank">
            <img src="../../cdn.v2ex.co/assets/sidebar/xitu_20160803.gif" border="0" alt="稀土" width="100%" /></a>
          <div class="sep10"></div>
          <a href="http://rd.da.netease.com/redirect?t=7ILX4SfSGo&p=null&proId=1260&target=https%3A%2F%2Fc.163.com%3Ftag%3Da6307d508e9020d93273a7c086d9735f" target="_blank">
            <img src="../../cdn.v2ex.co/assets/sidebar/netease_20160717.gif" border="0" alt="网易蜂巢" width="100%" /></a>
          <div class="sep10"></div>
          <a href="http://tisiwi.com/angel/jubian" target="_blank">
            <img src="../../cdn.v2ex.co/assets/sidebar/tisiwi_20160715.gif" border="0" alt="天使湾" width="100%" /></a>
          <div class="sep10"></div>爱意满满的作品展示区。
          <style type="text/css">#Wrapper { background-image: url(../static/img/shadow_light.pngg"), url("//static.v2ex.com/grids/air.png"); background-repeat: repeat-x, repeat; } .box { border-bottom: 1px solid #cdd8ff; }</style></div>
      </div>
      <div class="sep20"></div>
      <div class="box">
        <div class="inner" align="center">
          <div style="width: 240px; margin: 0px auto 0px auto; text-align: left;">
            <span style="font-weight: bold; font-size: 10px; color: #e2e2e2;">Sponsored by</span>
            <div class="sep10"></div>
            <a href="https://www.wilddog.com/?utm_source=v2ex&utm_medium=banner&utm_content=homepageright_text&utm_campaign=0619homepage" target="_blank">
              <img src="../../cdn.v2ex.com/friends/wilddog/wilddog_20160511_small.jpg" border="0" width="120" height="90" alt="野狗科技" /></a>
            <div class="sep5"></div>
            <span style="font-size: 12px; color: #666;">
              <strong style="color: #000;">
                <a href="https://www.wilddog.com/?utm_source=v2ex&utm_medium=banner&utm_content=homepageright_text&utm_campaign=0619homepage" class="black" target="_blank">野狗实时后端云</a></strong>
              <div class="sep3"></div>
              <span style="font-size: 12px;">国内领先的实时后端云
                <br />野狗 API 可用于开发即时聊天、网络游戏、实时定位等实时场景
                <br />传输快！响应快！入门快！</span></span>
            <div class="sep3"></div>
            <small class="fade">Promoted by
              <a href="https://www.wilddog.com/?utm_source=v2ex&utm_medium=banner&utm_content=homepageright_text&utm_campaign=0619homepage" target="_blank">野狗科技</a></small>
          </div>
        </div>
      </div>
      <div class="sep20"></div>
    </div>
    <div id="Main">
      <div class="sep20"></div>
      <div class="box" style="border-bottom: 0px;">
        <div class="header">
          <div class="fr">
            <a href="../member/Seita.html">
              <img src="http://cdn.v2ex.co/avatar/0d3d/81a9/50439_large.png?m=1402416556" class="avatar" border="0" align="default" /></a>
          </div>
          <a href="../www.v2ex.html">V2EX</a>
          <span class="chevron">&nbsp;›&nbsp;</span>
          <a href="../go/create.html">分享创造</a>
          <div class="sep10"></div>
          <h1>我从未见过如此优雅的 Markdown 编辑器 - EME</h1>
          <div id="topic_299262_votes" class="votes">
            <a href="javascript:" onclick="upVoteTopic(299262);" class="vote">
              <li class="fa fa-chevron-up"></li>&nbsp;1</a>&nbsp;
            <a href="javascript:" onclick="downVoteTopic(299262);" class="vote">
              <li class="fa fa-chevron-down"></li></a>
          </div>&nbsp;
          <small class="gray">
            <a href="../member/Seita.html">Seita</a>· 13 小时 7 分钟前 · 2393 次点击</small></div>
        <div class="cell">
          <div class="topic_content">
            <div class="markdown_body">
              <p>有人还记得我 600 多天的轮子吗 (
                <a href="http://v2ex.com/t/140281" rel="nofollow">http://v2ex.com/t/140281</a>)，这次我又给它造了个轮子。</p>
              <p>
                <img alt="preview" src="../../ooo.0o0.ooo/2016/08/14/57b072fca3db2.png"></p>
              <hr>
              <p>不管是否优雅，不过这的确是个 Markdown 编辑器，它支持:</p>
              <ul>
                <li>GFM 语法</li>
                <li>Math 语法</li>
                <li>Vim 模式</li>
                <li>无干扰模式</li>
                <li>导出 PDF 图片等等</li>
                <li>多个 tab 支持</li>
                <li>...</li></ul>
              <p>基于 Electron 和 Vue 开发，你可以来帮助它支持更多功能。</p>
              <p>关于 Electron 有很多人不喜欢，理由是太大、对电池不好等等，我可以提供一个解决方案，就是忽略这个帖子。</p>
              <hr>
              <p>
                <strong>EME 首页:
                  <a href="https://eme.moe/" rel="nofollow">https://eme.moe</a></strong>
              </p>
              <p>
                <strong>GitHub 页面:
                  <a href="https://github.com/egoist/eme" rel="nofollow">https://github.com/egoist/eme</a></strong>
              </p>
            </div>
          </div>
          <script>hljs.initHighlightingOnLoad();</script></div>
      </div>
      <div class="sep20"></div>
      <div class="box">
        <div class="cell">
          <div class="fr" style="margin: -3px -5px 0px 0px;">
            <a href="http://www.v2ex.com/tag/Markdown" class="tag">
              <li class="fa fa-tag"></li>Markdown</a>
            <a href="http://www.v2ex.com/tag/eme" class="tag">
              <li class="fa fa-tag"></li>eme</a>
            <a href="http://www.v2ex.com/tag/electron" class="tag">
              <li class="fa fa-tag"></li>electron</a>
            <a href="http://www.v2ex.com/tag/语法" class="tag">
              <li class="fa fa-tag"></li>语法</a>
          </div>
          <span class="gray">51 回复 &nbsp;
            <strong class="snow">|</strong>&nbsp;直到 2016-08-15 10:34:54 +08:00</span></div>
        <div id="r_3464711" class="cell">
          <table cellpadding="0" cellspacing="0" border="0" width="100%">
            <tr>
              <td width="48" valign="top" align="center">
                <img src="http://cdn.v2ex.co/avatar/fae0/4f45/75876_normal.png?m=1412396015" class="avatar" border="0" align="default" /></td>
              <td width="10" valign="top"></td>
              <td width="auto" valign="top" align="left">
                <div class="fr">&nbsp; &nbsp;
                  <span class="no">1</span></div>
                <div class="sep3"></div>
                <strong>
                  <a href="http://www.v2ex.com/member/ranran" class="dark">ranran</a></strong>&nbsp; &nbsp;
                <span class="fade small">12 小时 54 分钟前</span>&nbsp;
                <span class="small fade">♥ 4</span>
                <div class="sep5"></div>
                <div class="reply_content">你们都是大牛，你们都手写代码，搞个工具栏都不愿意，还说是编辑器………………
                  <br />
                  <br />Markdown 的编辑器一个两个三个全是这样！
                  <br />
                  <br />我们这些菜鸟用不起你们的编辑器= =。</div></td>
            </tr>
          </table>
        </div>
      </div>
      <div class="sep20"></div>
    </div>
  </div>
  <div class="c"></div>
  <div class="sep20"></div>
</div>