#{extends 'main.html' /}
<style>
#Wrapper td{
	font-size:12px;
}
</style>
<html>
 <head></head>
 <body>
  <div id="Wrapper"> 
   <div class="content"> 
    <div id="Leftbar"></div> 
    <div id="Rightbar"> 
     <div class="sep20"></div> 
     <div class="box"> 
      <div class="cell" style="padding-bottom:20px;"> 
       <table cellpadding="0" cellspacing="0" border="0" width="100%"> 
        <tbody>
         <tr> 
          <td width="48" valign="top"><a href="/member/jichunyang">
          <img src="${user.userImage}" class="avatar" border="0" align="default" style="width: 48px; height: 48px;" /></a></td> 
          <td width="10" valign="top"></td> 
          <td width="auto" align="left"><span class="bigger"><a href="/member/jichunyang">${user.userName}</a></span> </td> 
         </tr> 
        </tbody>
       </table> 
       <div class="sep10"></div> 
       <table cellpadding="0" cellspacing="0" border="0" width="100%"> 
        <tbody>
         <tr> 
          <td width="33%" align="center">
          <a href="/my/nodes" class="dark" style="display: block;">
          	<span class="bigger">6</span>
            <div class="sep3"></div><span class="fade">博客</span></a></td> 
          <td width="34%" style="border-left: 1px solid rgba(100, 100, 100, 0.4); border-right: 1px solid rgba(100, 100, 100, 0.4);" align="center">
          
          <a href="/my/topics" class="dark" style="display: block;">
          	<span class="bigger">7</span>
            <div class="sep3"></div>
            <span class="fade">帖子</span></a></td> 
          <td width="33%" align="center">
          	<a href="/my/following" class="dark" style="display: block;">
          	<span class="bigger">4</span>
            <div class="sep3"></div><span class="fade">代码</span></a></td> 
         </tr> 
        </tbody>
       </table> 
      </div> 
 
      <div class="cell" style="padding: 5px;"> 
       <table cellpadding="0" cellspacing="0" border="0" width="100%"> 
        <tbody>
         <tr> 
         <td width="15"></td> 
          <td width="20"><a href="/new_blog"><div class="icon"></div></a></td> 
          <td width="10"></td> 
          <td width="auto" valign="middle" align="left"><a href="/new_blog">博客</a></td> 
          <td width="20"><a href="/new_posts"><div class="icon"></div></a></td> 
          <td width="10"></td> 
          <td width="auto" valign="middle" align="left"><a href="/new_posts">帖子</a></td> 
          <td width="20"><a href="/new_code"><div class="icon"></div></a></td> 
          <td width="10"></td> 
          <td width="auto" valign="middle" align="left"><a href="/new_code">代码</a></td> 
         </tr> 
        </tbody>
       </table> 
      </div> 
      <div class="inner">
       
      </div> 
     </div> 
     <div class="sep20"></div> 
     <div class="box"> 
      <div class="cell">
      	我的关注
      </div> 
      <div class="inner"> 
       
      </div> 
     </div> 
     <div class="sep20"></div> 
     <div class="box"> 
      <div class="cell">
      	我的粉丝
      </div> 
      <div class="cell" style="padding: 5px;"> 

      </div>
     </div> 
    </div> 
    <div id="Main"> 
     <div class="sep20"></div> 
     <div class="box"> 
      <div class="header">
       <a href="/">Bubble</a> 
       <span class="chevron">&nbsp;›&nbsp;</span> 设置
      </div> 
      <div class="inner"> 
       <form method="post" action="/settings"> 
        <table cellpadding="5" cellspacing="0" border="0" width="100%"> 
         <tbody>
          <tr> 
           <td width="120" align="right">用户名</td> 
           <td width="auto" align="left">${user.userName}</td> 
          </tr> 
          <tr> 
           <td width="120" align="right">电子邮件</td> 
           <td width="auto" align="left"><input type="email" class="sl" name="email" value="${user.mail}" autocomplete="off" /></td> 
          </tr> 
          <tr> 
           <td width="120" align="right">个人简介</td> 
           <td width="auto" align="left"><textarea class="ml" name="bio"></textarea></td> 
          </tr> 
          <tr> 
           <td width="120" align="right"></td> 
           <td width="auto" align="left"><input type="hidden" value="1" name="show_ads" /><input type="hidden" value="51318" name="once" /><input type="submit" class="super normal button" value="保存设置" /></td> 
          </tr> 
         </tbody>
        </table> 
       </form> 
      </div> 
     </div> 
     <div class="sep20"></div> 
     <div class="box"> 
      <div class="cell">
       <div class="fr">
       </div>头像上传
      </div> 
      <div class="cell"> 
       <table cellpadding="5" cellspacing="0" border="0" width="100%" ng-app="myApp" ng-controller="myCtrl"> 
        <tbody>
         <tr> 
          <td width="120" align="right">当前头像</td> 
          <td width="auto" align="left">
	          <img src="{{img}}" class="avatar" width="73" height="73" border="0" align="default" /> &nbsp; 
	          <img src="{{img}}" class="avatar" width="48" height="48" border="0" align="default" /> &nbsp; 
	          <img src="{{img}}" class="avatar" width="24" height="24" border="0" align="default" /></td> 
         </tr> 
         <tr> 
          <td width="120" align="right"></td> 
          <td width="auto" align="left">
          <form  action="/change_image" method="post" enctype="multipart/form-data" >
	          <input type="file" file-model="myFile" name="image" class="super normal button" value="上传新头像" style="width:80px;position:absolute;opacity:0;" ng-show="pic"/>
	          <input type="button" value="上传新头像" id="uploadPic" ng-show="pic"/>
	          <input type="submit" value="确认上传" id="uploadPic" ng-hide="pic"/>
          </form>
          </td> 
         </tr> 
        </tbody>
       </table> 
      </div> 
     </div> 
     <div class="sep20"></div> 
     <div class="box"> 
      <div class="cell">
       <div class="fr">
        <span class="fade">如果你不打算更改密码，请留空以下区域</span>
       </div>更改密码
      </div> 
      <div class="inner"> 
       <form method="post" action="/settings/password"> 
        <table cellpadding="5" cellspacing="0" border="0" width="100%"> 
         <tbody>
          <tr> 
           <td width="120" align="right">当前密码</td> 
           <td width="auto" align="left"><input type="password" class="sl" name="password_current" value="" /></td> 
          </tr> 
          <tr> 
           <td width="120" align="right">新密码</td> 
           <td width="auto" align="left"><input type="password" class="sl" name="password_new" value="" /></td> 
          </tr> 
          <tr> 
           <td width="120" align="right">再次输入新密码</td> 
           <td width="auto" align="left"><input type="password" class="sl" name="password_again" value="" /></td> 
          </tr> 
          <tr> 
           <td width="120" align="right"></td> 
           <td width="auto" align="left"><input type="hidden" value="51318" name="once" /><input type="submit" class="super normal button" value="更改密码" /></td> 
          </tr> 
         </tbody>
        </table> 
       </form> 
      </div> 
     </div> 
    </div> 
   </div> 
   <div class="c"></div> 
   <div class="sep20"></div> 
  </div>
 </body>
</html>

<script>
	var app = angular.module("myApp",[]);
	app.factory('fileReader', ["$q", "$log", function($q, $log){
		  var onLoad = function(reader, deferred, scope) {
			    return function () {
			      scope.$apply(function () {
			        deferred.resolve(reader.result);
			      });
			    };
			  };
			  var onError = function (reader, deferred, scope) {
			    return function () {
			      scope.$apply(function () {
			        deferred.reject(reader.result);
			      });
			    };
			  };
			  var getReader = function(deferred, scope) {
			    var reader = new FileReader();
			    reader.onload = onLoad(reader, deferred, scope);
			    reader.onerror = onError(reader, deferred, scope);
			    return reader;
			  };
			  var readAsDataURL = function (file, scope) {
			    var deferred = $q.defer();
			    var reader = getReader(deferred, scope);		 
			    reader.readAsDataURL(file);
			    return deferred.promise;
			  };
			  return {
			    readAsDataUrl: readAsDataURL  
			  };
			}])
			
	app.controller("myCtrl",function($scope,fileReader){
		$scope.img = "${user.userImage}";
		$scope.pic = true;
		$scope.getFile = function () {
             fileReader.readAsDataUrl($scope.file, $scope)
                           .then(function(result) {
                               $scope.img = result;
                           });
         };
         
         
	});
	
	app.directive('fileModel', ['$parse', function ($parse) {
	  return {
	    restrict: 'A',
	    link: function(scope, element, attrs, ngModel) {
	      var model = $parse(attrs.fileModel);
	      var modelSetter = model.assign;
	      element.bind('change', function(event){
	        scope.$apply(function(){
	          modelSetter(scope, element[0].files[0]);
	        });
	        //附件预览
	        scope.file = (event.srcElement || event.target).files[0];
			if(scope.file.type.indexOf("image")==-1){
				alert("上传格式不正确");	
				return;
			}
	        scope.getFile();
	        scope.pic = false;
	      });
	    }
	  };
	}]);
</script>